#container {
    display: grid;
    grid-gap: 0px;
    border : 1px solid skyblue;
    background-color: skyblue;
    height: 900px;
    width: 1900px;  
}

#divs {
    border: 1px solid red;
    background-color: beige;
    

    
    
    
}

